
<div class="signature-pad-component">
  <app-signature-pad #signaturePad (signaturePadEmpty)="handlerCanvas($event)" [useExternalBase64]="false" [externalBase64]="imageFromSettings">
    <a class="buttons__btn-clear" (click)="clearSignaturePad()">Intentar de nuevo</a>
    <button (click)="saveSignaturePNG()" class="buttons__btn-download-png">Descargar PNG</button>
    <button (click)="saveSignatureJPG()" class="buttons__btn-download-jpeg">Descargar JPEG</button>
    <button (click)="saveSignatureSVG()" class="buttons__btn-download-svg">Descargar SVG</button>
  </app-signature-pad>

  <!-- <div class="buttons-container">
    <button (click)="clearSignaturePad()">Limpiar</button>
    <button (click)="saveSignaturePNG()">Descargar PNG</button>
    <button (click)="saveSignatureJPG()">Descargar JPEG</button>
    <button (click)="saveSignatureSVG()">Descargar SVG</button>
  </div> -->
</div>


<div>
  <button (click)="getBase64()" [disabled]="btnRegistryDisabled">Continuar</button>
</div>
